* {
    margin: 0;
    padding: 0;
    color: var(--color-day);
    font-family: indivisible, sans-serif;
    font-style: normal;
    font-weight: 200;
}

body {
    background-color: var(--background-color-day);
}

.menu li a{
    color: var(--color-day);
}


.logo path {
    fill: var(--color-day) !important;
}

.btn {
    color: var(--color-day);
}


  .swiper-slide {
    background: var(--background-color-day);
  }

