* {
    color: var(--color-day);
}

body {
    background-color: var(--background-color-day);
}

.menu {
    border-bottom: var(--color-day);
}

.menu li a{
    color: var(--color-day);
}

.menu li a:hover{
    color: var(--color-hover-day);
}

.logo path {
    fill: var(--color-day) !important;
}

.btn {
    color: var(--color-day);
}

.swiper-slide {
    background: var(--background-color-day);
}

.btnNight {
    display: none;
}