:root {
    --main-color: #ffffff;
    --background-color-night: #1e1e2a;
    --background-color-day: #f1f1f1;

    --color-night: #f1f1f1;
    --color-day: #1e1e2a;

    --color-hover-night: #ebe5e5a5;
    --color-hover-day: #1e1e2a7f;

    --color-hover-pageTop-night: #f1f1f1e5;
    --color-hover-pageTop-day: #1e1e2ae2;
}

* {
    margin: 0;
    padding: 0;
    font-family: indivisible, sans-serif;
    font-style: normal;
    font-weight: 200;
    /*font-family: 'Chronicle SSm A', 'Chronicle SSm B';
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;*/
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.menu li, .btn{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    padding-top: 25px;
}

.menu li a{
    text-decoration: none;
    font-size: 25px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 200;
}

.swiper {
    width: 70%;
    height: 70%;
    text-align: center;
    justify-content: center;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }

.swiper-wrapper {
    padding-top: 5%;
  }

.contact input, textarea{
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
  }

.contact {
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.contact button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 200;
    background-color: #fff;
}

.contact button:hover {
    background-color: #ebe5e5
}

#galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5%;
}

.grid-item {
  display: flex; /* Ajouté pour utiliser Flexbox */
  align-items: center; /* Centrer les éléments verticalement */
  justify-content: center; /* Centrer les éléments horizontalement */
  flex: 1 0 30%;
  margin: 1.5%;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover img {
  transform: scale(1.04);
}

.grid-item.hidden {
  opacity: 0; 
  visibility: hidden; 
  position: absolute;
  transform: scale(0); 
}

.grid-item.visible {
  opacity: 1;
  visibility: visible; 
  transform: scale(1);
}

.grid-item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: rgba(255, 255, 255, 0.7);
  color: var(--color-day);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
  font-size: 30px;
}

.grid-item:hover figcaption {
  transform: translateY(0);
  opacity: 1;
}

  .photoProfil {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
    float: left;
  }

  .biographie {
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
    justify-content: center;
    padding-right: 2%;
  }

  .presentation {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    justify-content: center;
    padding-right: 2%;
  }

.selectGalerie, #reset-button, #image-width-slider {
  display: inline;
  margin: 10px;
  border: 0.25px solid;
  border-radius: 2%;
  font-size: 15px;  
  text-align: center;
  cursor: pointer;
}

#reset-button {
  padding: 7px 16px; /* Espace intérieur du bouton */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Supprime le soulignement du texte */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Change le curseur en main lorsque vous survolez le bouton */
  border-radius: 4px; /* Coins arrondis du bouton */
}

.modal {
  display: none; /* La modale est initialement cachée */
  position: fixed; /* Position fixe pour la modale */
  z-index: 1004; /* La modale sera au-dessus de tout le reste */
  padding-top: 100px; /* Position de la modale */
  left: 0;
  top: 0;
  width: 100%; /* Largeur totale */
  height: 100%; /* Hauteur totale */
  overflow: auto; /* Ajoutez un scroll si nécessaire */
  background-color: rgb(0,0,0); /* Couleur de fond */
  background-color: rgba(0,0,0,0.9); /* Couleur de fond avec opacité */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--color-night);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--color-hover-night);
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003; 
}

.selecteurs {
  position: fixed;
  margin-top: 6.75%;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  overflow: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1002; /* Augmente la valeur de z-index pour que le menu s'ouvre devant le reste de la page */
  padding: 10px;
}

.selecteurs.open {
  transform: translateX(0);
}

#open-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 150px; /* Positionne le bouton juste en dessous du header */
  left: 20px; /* Positionne le bouton à 20px de la gauche de la fenêtre */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  padding: 10px;
  z-index: 1001;
  transition: transform 0.3s ease-in-out; /* Ajoute une transition pour la rotation */
}

#open-selectors.open {
  transform: translateX(300px) rotate(180deg); /* Déplace le bouton à droite de la largeur du menu */
  transition: transform 0.3s ease-in-out; /* Ajoute une animation à la transformation */
}

#open-selectors.close {
  transform: translateX(0) rotate(0); /* Fait pivoter le bouton de 180 degrés */
}

#galerie {
  padding-top: 10%;
  padding-bottom: 5%;
}

.accueil {
  padding-top: 10%;
  padding-bottom: 5%;
}

#pageTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 150px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  cursor: pointer;
}

#pageTop.visible {
  opacity: 1;
  visibility: visible;
}

.fa-arrow-up {
  display: block;
}

#open-selectors, #pageTop {
  cursor: pointer;
}


/* Pour les écrans de tablettes */
@media (max-width: 768px) {
  .menu li, .btn {
      margin: 10px;
      padding: 10px;
      padding-top: 15px;
  }

  .menu li a {
      font-size: 20px;
  }

  .btn {
      padding: 5px;
      font-size: 12px;
  }

  .swiper {
      width: 100%;
      height: 100%;
  }

  .swiper-slide img {
      width: 100%;
      height: 100%;
  }

  .contact input, textarea {
      font-size: 8px;
  }

  .contact button {
      font-size: 12px;
  }

  .selectGalerie, #reset-button, #image-width-slider {
      font-size: 12px;  
  }

  .biographie {
      padding-top: 5%;
      padding-bottom: 2.5%;
      padding-right: 1%;
  }

  .photoProfil {
      width: 500px;
      height: 500px;
  }

  #galerie {
      grid-template-columns: repeat(2, 1fr);
  }

  .grid-item figcaption {
      font-size: 20px;
  }
}

/* Pour les écrans de mobiles */
@media (max-width: 480px) {
  .menu li, .btn {
      margin: 5px;
      padding: 5px;
      padding-top: 10px;
  }

  .menu li a {
      font-size: 15px;
  }

  .btn {
      padding: 3px;
      font-size: 10px;
  }

  .swiper {
      width: 100%;
      height: 100%;
  }

  .swiper-slide img {
      width: 100%;
      height: 100%;
  }

  .contact input, textarea {
      font-size: 6px;
  }

  .contact button {
      font-size: 10px;
  }

  .selectGalerie, #reset-button, #image-width-slider {
      font-size: 10px;  
  }

  .biographie {
      padding-top: 2.5%;
      padding-bottom: 1.25%;
      padding-right: 0.5%;
  }

  .photoProfil {
      width: 250px;
      height: 250px;
  }

  #galerie {
      grid-template-columns: repeat(1, 1fr);
  }

  .grid-item figcaption {
      font-size: 15px;
  }
}

/* Pour les écrans de tablettes */
@media (max-width: 768px) {
  .selecteurs {
      flex-direction: column; /* Affiche le menu verticalement */
      font-size: 0.8em; /* Réduit la taille de la police */
      height: auto; /* Augmente la hauteur du menu */
      overflow-y: auto; /* Fait défiler le menu si son contenu dépasse sa hauteur */
  }

  .header {
    position: fixed; /* Garde le header fixe */
}

.logo {
    position: absolute; /* Positionne le logo par rapport au header */
    top: 10px; /* Ajoute une marge en haut du logo */
    left: 10px; /* Ajoute une marge à gauche du logo */
    width: 50%; /* Réduit la taille du logo */
}

  .menu .gallery-item {
    font-size: 0.8em; /* Réduit la taille de la police */
    margin: 5px; /* Ajuste la marge */
    padding: 5px; /* Ajuste le padding */
}
}

/* Pour les écrans de mobiles */
@media (max-width: 480px) {
  .selecteurs {
      flex-direction: column; /* Affiche le menu verticalement */
      font-size: 0.6em; /* Réduit encore plus la taille de la police */
      overflow-y: auto; /* Fait défiler le menu si son contenu dépasse sa hauteur */
      z-index: 1000;
      height: 100vh;
      width: 40%;
  }

  .logo {
      width: 20%; /* Réduit encore plus la taille du logo */
      top: -8.5px;
      left: 7px; /* Ajoute une marge à gauche du logo */
  }

  @media (max-width: 480px) {
    .menu .gallery-item {
        font-size: 0.6em; /* Réduit encore plus la taille de la police */
        margin: 3px; /* Ajuste la marge */
        padding: 3px; /* Ajuste le padding */
    }

}

/* Pour les écrans de tablettes */
@media (max-width: 768px) {
  .header {
      position: fixed; /* Fixe le header en haut de la page */
      top: 0; /* Positionne le header en haut de la page */
      left: 0; /* Positionne le header à gauche de la page */
      width: 100%; /* Assure que le header s'étend sur toute la largeur de la page */
      z-index: 1004; /* Assure que le header est toujours au-dessus des autres éléments */
  }
}

/* Pour les écrans de mobiles */
@media (max-width: 480px) {
  .header {
      position: fixed; /* Fixe le header en haut de la page */
      top: 0; /* Positionne le header en haut de la page */
      left: 0; /* Positionne le header à gauche de la page */
      width: 100%; /* Assure que le header s'étend sur toute la largeur de la page */
      z-index: 1004; /* Assure que le header est toujours au-dessus des autres éléments */
  }

  #open-selectors {
    position: fixed; /* Fixe la flèche par rapport à la fenêtre de visualisation */
    top: 50px; /* Augmente la marge en haut de la flèche */
    right: 40%; /* Positionne la flèche à droite de la page */
    z-index: 1003; /* Assure que la flèche est toujours derrière le header */
  }
  
  #open-selectors.open {
    transform: translateX(175px) rotate(180deg); /* Déplace le bouton à droite de la largeur du menu */
    transition: transform 0.3s ease-in-out; /* Ajoute une animation à la transformation */
  }
  
  #open-selectors.close {
    transform: translateX(0) rotate(0); /* Fait pivoter le bouton de 180 degrés */
  }

  .biographie, .galerie, .presentation {
    margin-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre header */
  }
}
}