* {
    margin: 0;
    padding: 0;
    color: var(--color-day);
    font-family: indivisible, sans-serif;
    font-style: normal;
    font-weight: 200;
}

body {
    background-color: var(--background-color-day);
}

.menu li, .btn{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    padding-top: 25px;
}

.menu li a{
    text-decoration: none;
    color: var(--color-day);
    font-size: 25px;
}

.menu {
    text-align: center;
    justify-content: center;
}

.logo path {
    fill: var(--color-day) !important;
}

.btn {
    color: var(--color-day);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 200;
}

.swiper {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--background-color-day);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    justify-content: center;
  }

  .swiper-wrapper {
    padding-top: 5%;
  }