* {
    color: var(--color-night);
}

body {
    background-color: var(--background-color-night);
}

.menu {
    border-bottom: var(--color-night);
}

.menu li a{
    color: var(--color-night);
}

.menu li a:hover {
    color: var(--color-hover-night);
}

.logo path {
    fill: var(--color-night) !important;
}

.btn {
    color: var(--color-night);
}

.btn:hover {
    color: var(--color-hover-day);
}

.swiper-slide {
    background: var(--background-color-night);
}

.btnDay {
    display: none;
}

body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: var(--background-color-night);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-night);
    border-radius: 20px;
    border: 3px solid var(--color-night);
  }

.header {
    background-color: var(--background-color-night);
}

#open-selectors {
    background-color: var(--color-night);
    border: 1px solid var(--background-color-night);
}

#pageTop {
    background-color: var(--color-night);
    border: 1px solid var(--background-color-night);
}

#pageTop:hover, #open-selectors:hover {
    background-color: var( --color-hover-pageTop-night);
    border: 1px solid var(--background-color-night);
}

.fa-arrow-right, .fa-arrow-up {
    color: var(--background-color-night);
}

.selecteurs {
    background-color: var(--color-hover-day);
}

.swiper-button-next {
    color: var(--color-night) !important;
}

.swiper-button-prev {
    color: var(--color-night) !important;
}

.selectGalerie, #reset-button {
    background-color: var(--color-day);
    color: var(--background-color-day);
  }

  #reset-button:hover {
    background-color: var(--color-hover-day); 
    color: var(--color-night); 
  }