:root {
    --main-color: #ffffff;
    --background-color-night: #1e1e2a;
    --background-color-day: #f1f1f1;

    --color-night: #f1f1f1;
    --color-day: #1e1e2a;

    --color-hover-night: #ebe5e5a5;
    --color-hover-day: #1e1e2a7f;
}

* {
    margin: 0;
    padding: 0;
    font-family: indivisible, sans-serif;
    font-style: normal;
    font-weight: 200;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.menu li, .btn{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    padding-top: 25px;
}

.menu li a{
    text-decoration: none;
    font-size: 25px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 200;
}

.swiper {
    width: 70%;
    height: 70%;
    text-align: center;
    justify-content: center;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    justify-content: center;
  }

.swiper-wrapper {
    padding-top: 5%;
  }

.contact input, textarea{
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
  }

.contact {
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.contact button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 200;
    background-color: #fff;
}

.contact button:hover {
    background-color: #ebe5e5
}

#galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5%;
}

.grid-item {
  display: flex; /* Ajouté pour utiliser Flexbox */
  align-items: center; /* Centrer les éléments verticalement */
  justify-content: center; /* Centrer les éléments horizontalement */
  flex: 1 0 30%;
  margin: 1.5%;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover img {
  transform: scale(1.04);
}

.grid-item.hidden {
  opacity: 0; 
  visibility: hidden; 
  position: absolute;
  transform: scale(0); 
}

.grid-item.visible {
  opacity: 1;
  visibility: visible; 
  transform: scale(1);
}

.grid-item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: rgba(255, 255, 255, 0.7);
  color: var(--color-day);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
}

.grid-item:hover figcaption {
  transform: translateY(0);
  opacity: 1;
}

  .photoProfil {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
    float: left;
  }

  .biographie {
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
    justify-content: center;
    padding-right: 2%;
  }

.selectGalerie {
  display: inline;
  margin: 10px;
  border: 0.25px solid;
  font-size: 15px;  
  text-align: center;
  background-color: var(--color-night);
  color: var(--background-color-night);
}

.modal {
  display: none; /* La modale est initialement cachée */
  position: fixed; /* Position fixe pour la modale */
  z-index: 1; /* La modale sera au-dessus de tout le reste */
  padding-top: 100px; /* Position de la modale */
  left: 0;
  top: 0;
  width: 100%; /* Largeur totale */
  height: 100%; /* Hauteur totale */
  overflow: auto; /* Ajoutez un scroll si nécessaire */
  background-color: rgb(0,0,0); /* Couleur de fond */
  background-color: rgba(0,0,0,0.9); /* Couleur de fond avec opacité */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--color-night);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--color-hover-night);
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.selecteurs {
  padding-top: 10%;
  padding-bottom: 5%;
}

.accueil {
  padding-top: 10%;
  padding-bottom: 5%;
}